@font-face {
  font-family: 'geogrotesque_cyrmedium';
  src: url('https://geogrotesquecyr-medium-webfont.woff2') format('woff2'),
       url('https://geogrotesquecyr-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mabry_prolight';
  src: url('https://mabrypro-light-webfont.woff2') format('woff2'),
       url('https://mabrypro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.body{
  margin: 0;
}

.mainContainer{
  height: 100%;
  width: 100%;
}

.header{
  display: flex;
}

.header > a{
  cursor: pointer;
  line-height: 1;
  padding: 0px 5px;
  color: white;
  font-family: 'geogrotesque_cyrmedium', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.header > a:hover{
  color: var(--yellow-highlight);
}

.siteHeaderContainer{
  width: 100%;
  /* padding-right: 24px; */
  /* padding-left: 24px; */
  background-color: var(--blue-nav);
  margin: 0 auto;
}

.siteHeader{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  gap: 8px;
  background-color: var(--blue-nav);
  color: white;
  width: 100%;
  height: 40px;
  font-size: 15px;
  margin: 0 auto;
}

.siteHeader > a{
  cursor: pointer;
  line-height: 1;
  padding: 0px 5px;
  font-family: 'geogrotesque_cyrmedium', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.siteHeader > a:hover{
  background-color: var(--yellow-highlight);
  color: var(--blue-nav);
  padding: 12.5px 5px;
  width: max-content;
}

.logo{
  margin-right: 37px;
  overflow: hidden;
  height: 74px;
  margin-right: 37px;
  max-height: 78px;
  width: 78px;
}

.menuNav{
  display: flex;
  align-items: center;
}

.menuNav > a{
  font-family: 'mabry_prolight', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  padding:8px 8px 1px;
  height: 100%;
  letter-spacing: .02em;
  position: static;
  color: var(--blue-nav);
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
}

.menuNav > a:hover{
  padding-bottom: 8px;
  border-bottom: 3px solid var(--yellow-highlight);
  color: var(--bright-blue);
}

.menuContainer{
  height: 120px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  max-width: 1448px;
  justify-content: space-between;
}

.searchInput{
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  color: #003c71;
  display: block;
  font-size: 18px;
  line-height: 1.78;
  margin: 0;
  padding: 15px 48px 15px 15px;
  transition: all .15s ease-in-out;
  width: 100%;
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  width: 407.66px;
  height: 64.4px;
}

.searchInput :focus{
  border: 2px solid #296cf6;
  outline: var(--bright-blue);
}

.menuSearch{
  display: flex;
  justify-content: flex-end;
}

.breadcrumbsContainer{ 
  padding: 7px 4px;
  background-color: var(--blue-nav);
  display: flex;
  flex-direction: row;
}

.breadcrumbs{
  padding-left: 28px;
  padding-right: 32px;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.breadcrumbs > a{
  display: inline-block;
  padding: 9px 8px 5px;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 3px;
}
.triangle{
  width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-left: 6px solid #fff;
	border-bottom: 3px solid transparent;
  
}

.mainImage{
  object-fit: cover;
  object-position: bottom;
  content: "";
  background-color: rgba(0,0,0,.5);
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.bannerContainer{
  display: flex;
  flex-direction: column;
}
.bannerContent{
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 125px;
  padding-left: 40px;
  padding-right: 40px;
  width: max-content;
}

.mainTitle{
  width: 600px;
  font-family: 'mabry_prolight', arial, sans-serif;
  font-weight: normal;
  font-size: 54px;
  color: var(--white);
  margin: 0;
  margin-bottom: 16px;
}

.bannerTextContent{
  display: flex;
  gap: 20px;
  color: var(--white);
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

.iconContainer{
  display: flex;
  flex-direction: row;
  color: var(--white);
  gap: 17px;
  font-size: 24px;
}

.buttonContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-bottom: 75px;
  padding-top: 105px;
  width: 260px;
  gap: 16px;
  margin-left: 454px;
}

.contactButton{
  color:var(--white);
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3;
  padding: 22px 21px;
  text-align: left;
  border-color: 2px solid var(--white);
  border-style: solid;
  font-family: 'geogrotesque_cyrmedium', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contentMainContainer{
  display: flex;
  flex-direction: row;
}

.sideNavBarContainer{
  width: 25%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #f2f2f2;
  padding: 24px;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}
.sideNavBar{
  padding-top: 64px;
  background-color: #fff;
  margin-right: -1px;
  overflow: hidden;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.sideNavTitle{
  font-size: 28px;
  color: var(--blue-nav);
  font-family: 'geogrotesque_cyrmedium', Arial, sans-serif;
  display: inline-block;
  margin: 18px 65px 18px 24px;
  padding: 8px 8px 8px 0;
}
.sideNavFirstTitle{
  font-size: 18px;
  color: var(--blue-nav);
  font-family: 'geogrotesque_cyrmedium', Arial, sans-serif;
  display: inline-block;
  margin: 18px 65px 18px 24px;
  width: max-content;
  padding: 20px 20px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.navOverviewList > li{
  list-style: none;
  font-family: 'Nunito Sans', sans-serif;
}

.brightBlueText{
  color: var(--bright-blue);
  margin-bottom: 8px;
}

.sideNavCategories{
  line-height: 1.25;
  padding: 8px 8px 8px 0;
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 8px;
  color: var(--blue-nav);
}

.sideNavCategories:hover{
  color: var(--bright-blue);
}

.infoSessionDesc{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  padding-left: 25px;
  width: 82%;
}

.infoDates{
  color: var(--bright-blue);
  font-family: 'Nunito Sans', sans-s
}

.infoDates::marker{
  color: var(--blue-nav);
}
.infoExploreDesc{
  padding-left: 25px;
  font-family: 'Nunito Sans';
  display: flex;
  gap: 5px;
  width: max-content;
}
/* .programInfo{
  width: min-content;
} */

.programOverviewTitle{
  color: var(--blue-nav);
  font-family: Nunito Sans, 'Arial', sans-serif;
  font-weight: bold;
}
.programOverviewDesc{
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-weight: lighter;
}

.programOverviewCategory{
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--blue-nav);
  height: 25px;
  align-items: center;
  padding-left: 25px;
  width: max-content;
}

.programOverviewDesc{
  font-family: 'Nunito Sans';
}
.programOverviewCost{
  font-family: 'Nunito Sans';
  margin-bottom: 16px; 
}

.moreProgram{
  color: var(--bright-blue);
  font-family: 'Nunito Sans';
  margin-top: 16px;
  padding-left: 25px;
}

.visitProgram{
  padding-left: 25px;
  font-family: 'Nunito Sans';
  color: var(--blue-nav);
}

.mainContentContainer{
  max-width: 100%;
  padding: 64px 30px;
}
.mainContentTitle{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 24px;
  color: var(--bright-blue);
  gap: 10px;
}

.contentTitle{
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: -.6px;
  color: var(--blue-nav);
  font-family: 'mabry_prolight', arial, sans-serif;
  margin-bottom: 16px;
}

.noteContent{
  word-spacing: 0px;
  font-size: 18px;
  padding:10px ;
  background: #e2eff6;
  border-left: 8px solid #8babc1;
  margin-bottom: 32px;
  padding: 24px;
  line-break: anywhere;
  font-family: 'Nunito Sans';
  color: var(--blue-nav);
}


.Title{
  font-weight: bold;
  color: var(--blue-nav);
  margin-right: 5px;
}
.note{
  margin-bottom: 32px;
  
}

.boldNote{
  color: var(--blue-nav);
  font-weight: 800;
  margin:0 5px;
}

.findProgram{
  color: var(--bright-blue);
  border-bottom: 2px solid var(--yellow-highlight);
  margin-bottom: 5px;
  padding-left: 5px;
}

.noteTwo{
  background: #f2f2f2;
  border-left: 8px solid #dcdcdc;
  margin-bottom: 32px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 18px;
  font-family: 'Nunito Sans';
  color:var(--blue-nav);
}

.noteTwo{
  word-spacing: 0px;
}

.text{
  font-family: 'Nunito Sans';
  font-size: 18px;
  color: var(--blue-nav);
  margin-bottom: 24px;
}

.noteDetails{
  color: var(--bright-blue);
  border-bottom: 3px solid var(--yellow-highlight);
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Nunito Sans';
}

.videoImage{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.programTitle{
  color: #5a5a5a;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -.4px;
  font-weight: 400;
  font-family: 'mabry_prolight', arial, sans-serif;
}

.listContainer{
  font-size: 18px;
  font-family: 'Nunito Sans';
  list-style: disc outside;
  color: var(--blue-nav);
}

.listContent{
  margin-top: 8px;
  margin-left: 24px;
  padding-left: 8px;
}

.programDetailInfo{
  display: flex;
  align-items: baseline;
  font-size: 18px;
  font-family: 'Nunito Sans', Arial, Sans serif;
  color: var(--blue-nav);
  margin-bottom: 24px;
}

.gradContent{
  display: flex;
  align-items: baseline;
  font-size: 18px;
}

.nextContent{
  margin-left: auto;
  padding-left: 8px;
  text-align: right;
}

.requirements{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 3px;
  font-family: geo-semibold,Arial,sans-serif;
  letter-spacing: .48px;
  line-height: 1.7;
  text-decoration: none;
  color: var(--blue-nav);
  border-bottom: 3px solid var(--yellow-highlight);
  width: 235px;
  margin-left: auto;
}

.nextUp{
  color: #767676;
  display: block;
  font-family: Nunito Sans,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  text-transform: none;
}

.disclaimer{
  color: #767676;
  font-family: Nunito Sans,Arial,sans-serif;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.footerContainer{
  width: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
}

.footerColumn{
  border-bottom: 0;
  border-top: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  margin: 0;
  padding: 46px 36px 34px;
  width: 25%;
}
.footerColumn2{
  border-bottom: 0;
  border-top: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  margin: 0;
  padding: 46px 36px 34px;
  width: 25%;
}

.footerContact{
  display: flex;
  flex-direction: column;
}
.footerTitle{
  font-family: geo-medium,Arial,sans-serif;
  font-size: 16px;
  letter-spacing: 2.21px;
  line-height: 1.5;
  text-transform: uppercase;
  padding-left: 48px;
  color: var(--blue-nav);
}

.footerAddress{
  font-family: 'Nunito Sans';
  color: var(--blue-nav);
  margin-bottom: 27px;
}

.link{
  color: var(--bright-blue);
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-weight: 800;
  list-style: none;
}

.contactContainer{
  margin-bottom: 27px;
}
.contactNumber{
  display: flex;
  flex-direction: row;
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 14px;
  color: var(--blue-nav);
}

.socialMedia{
  display: flex;
  font-size: 30px;
  gap: 15px;
  color: var(--blue-nav);
  margin-top: 50px;
}

.footerCategories{
  padding-bottom: 20px;
  gap: 10px;
}
.categoriesBlue{
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Nunito Sans', Arial, sans-serif;
  color: var(--bright-blue);
  list-style: none;
}


.campusInfo > li{
  margin-bottom: 10px;
}


@media screen and (max-width:2040px) {
  .programInfoContainer2{
    display: none;
  }
}
@media screen and (max-width: 48em){
  .siteHeader, .searchInput, .navOverviewList, .programInfoContainer{
    display: none;
  }
  .menuNav > a{
    display: none;
  }
  .logo{
    display: block;
    height: 45px;
    margin-right: 15px;
    width: 50px;
    padding-left: 16px;
  }
  .buttonContainer{
    margin-left: 0;
    flex-direction: row;
    padding: 0;
    margin-top: 15px;
  }
  .contactButton{
    display: inline-block;
    min-width: 225px;
  }
  .bannerContent{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 0;
    padding-left: 16px; 
  }
  .menuContainer{
    padding: 0px;
    height: 64px;
  }
  .sideNavBarContainer{
    width: 100%;
  }
  .contentMainContainer{
    display: flex;
    flex-direction: column;
  }
  .mainContentContainer{
    width: 95%;
  }
  .videoImage{
    width: 100%;
    height: auto;
  }
  .sideNavBar{
    padding: 0;
  }
  .mainContentContainer{
    padding: 0 20px;
  }
  .sideNavBarContainer{
    padding:0;
  }
  .mainContent{
    width: 100%;
  }
  .gradContent, .programDetailInfo, .contactNumber{
    display: flex;
    flex-direction: column;
  }
  .disclaimer{
    padding-bottom: 30px;
  }
  .programInfoContainer2{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #f2f2f2;
  }
  .categoriesList{
    padding: 0;
  }
  .footerContainer, .campusInfo, .footerTitle{
    padding: 0;
  }
}

@media screen and (max-width:320px) {
  .mainTitle{
    font-size: 40px;
    width: min-content;
  }
  .bannerTextContent{
    gap: 5px;
  }
  .buttonContainer{
    display: flex;
    flex-direction: column;

  }
  .bannerContent{
    margin-top: 20px;
  }
  .programTitle{
    font-size: 24px;
  }
  .listContent{
    font-size: 16px;
  }
  .contentList{
    padding: 0px;
  }
  .mainContentContainer{
    width: 100%;
  }
  .footerContainer{
    display: flex;
    flex-direction: column-reverse;
  }
  .footerColumn{
    width: 100%;
  }
  .footerCategories{
    display: none;
  }
  .footerColumn2{
    display: none;
  }
}

