@font-face {
  font-family: 'geogrotesque_cyrmedium';
  src: url('https://geogrotesquecyr-medium-webfont.woff2') format('woff2'),
       url('https://geogrotesquecyr-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mabry_prolight';
  src: url('https://mabrypro-light-webfont.woff2') format('woff2'),
       url('https://mabrypro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.body{
  margin: 0;
}

.mainContainer{
  height: 100%;
  width: 100%;
}

.header{
  display: flex;
}

.header > a{
  cursor: pointer;
  line-height: 1;
  padding: 0px 5px;
  color: white;
  font-family: 'geogrotesque_cyrmedium', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.header > a:hover{
  color: var(--yellow-highlight);
}

.siteHeaderContainer{
  width: 100%;
  /* padding-right: 24px; */
  /* padding-left: 24px; */
  background-color: var(--blue-nav);
  margin: 0 auto;
}

.siteHeader{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  gap: 8px;
  background-color: var(--blue-nav);
  color: white;
  width: 100%;
  height: 40px;
  font-size: 15px;
  margin: 0 auto;
}

.siteHeader > a{
  cursor: pointer;
  line-height: 1;
  padding: 0px 5px;
  font-family: geogrotesque_cyrmedium, arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.siteHeader > a:hover{
  background-color: var(--yellow-highlight);
  color: var(--blue-nav);
  padding: 12.5px 5px;
  width: max-content;
}

.logo{
  margin-right: 37px;
  overflow: hidden;
  height: 74px;
  margin-right: 37px;
  max-height: 78px;
  width: 78px;
}

.menuNav{
  display: flex;
  align-items: center;
}

.menuNav > a{
  font-family: 'mabry_prolight', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  padding:8px 8px 1px;
  height: 100%;
  letter-spacing: .02em;
  position: static;
  color: var(--blue-nav);
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
}

.menuNav > a:hover{
  padding-bottom: 8px;
  border-bottom: 2px solid var(--yellow-highlight);
  color: var(--bright-blue);
}

.menuContainer{
  height: 120px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  max-width: 1448px;
  justify-content: space-between;
}

.searchInput{
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  color: #003c71;
  display: block;
  font-size: 18px;
  line-height: 1.78;
  margin: 0;
  padding: 15px 48px 15px 15px;
  transition: all .15s ease-in-out;
  width: 100%;
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  width: 407.66px;
  height: 64.4px;
}

.searchInput :focus{
  border: 2px solid 296cf6;
  outline: var(--bright-blue);
}

.menuSearch{
  display: flex;
  justify-content: flex-end;
}

.breadcrumbsContainer{ 
  padding: 7px 4px;
  background-color: var(--blue-nav);
  display: flex;
  flex-direction: row;
}

.breadcrumbs{
  padding-left: 28px;
  padding-right: 32px;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.breadcrumbs > a{
  display: inline-block;
  padding: 9px 8px 5px;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 3px;
}
.triangle{
  width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-left: 6px solid #fff;
	border-bottom: 3px solid transparent;
  
}

.mainImage{
  object-fit: cover;
  object-position: bottom;
  background-color: rgba(0,0,0,.5);
  margin-left: 0;
  margin-right: 0;
}

.bannerContainer{
  display: flex;
  flex-direction: column;
}
.bannerContent{
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 125px;
  padding-left: 40px;
  padding-right: 40px;
  width: max-content;
}


.mainTitle{
  width: 600px;
  font-family: 'mabry_prolight', arial, sans-serif;
  font-weight: normal;
  font-size: 54px;
  color: var(--white);
  margin: 0;
  margin-bottom: 16px;
}

.bannerTextContent{
  display: flex;
  gap: 20px;
  color: var(--white);
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

.iconContainer{
  display: flex;
  flex-direction: row;
  color: var(--white);
  gap: 17px;
  font-size: 24px;
}

.buttonContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-bottom: 75px;
  padding-top: 105px;
  width: 260px;
  gap: 16px;
  margin-left: 445px;
}

.contactButton{
  color:var(--white);
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3;
  padding: 22px 21px;
  text-align: left;
  border-color: 2px solid var(--white);
  border-style: solid;
  font-family: 'geogrotesque_cyrmedium', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sideNavBarContainer{
  width: 25%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #f2f2f2;
  padding: 24px;
}
.sideNavBar{
  padding-top: 64px;
  background-color: #fff;
  border-right: 1px solid #f2f2f2;
  margin-right: -1px;
  overflow: hidden;
}
.sideNavTitle{
  font-size: 18px;
  color: var(--blue-nav);
  font-family: 'geogrotesque_cyrmedium', Arial, sans-serif;
  display: inline-block;
  margin: 18px 65px 18px 24px;
  padding: 8px;
}

.navOverviewList > li{
  list-style: none;
  font-family: 'Nunito Sans', sans-serif;
}

.brightBlueText{
  color: var(--bright-blue);
  margin-bottom: 8px;
}

.sideNavCategories{
  line-height: 1.25;
  padding: 8px 8px 8px 0;
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 8px;
}

.sideNavCategories:hover{
  color: var(--bright-blue);
}

.infoSessionDesc{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  padding-left: 25px;
  width: 82%;
}

.programInfo{
    
  
}
.infoDates{
  color: var(--bright-blue);
  font-family: 'Nunito Sans', sans-serif;
}

.infoExploreDesc{
  padding-left: 25px;
  font-family: 'Nunito Sans';
  display: flex;
  gap: 10px;
}